/* colour sheme: https://www.schemecolor.com/beyond-training.php */
/* white #E2DAD3 */
/* pale green #A4B9AF */
/* blue #81A0B4 */
/* dark grey #6B6975 */

/* ############################################################ */
/* base styling */
body {
    font-family: 'Karla', sans-serif;
    background-color: #E2DAD3;

}

button {
    border-radius: 15px;
    border-color: none;
    border-style: none;
    color: #E2DAD3;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Karla', sans-serif;
    /* background-color: #6A75B3; */
}

li {
    list-style: none;
    padding-right: 10px;
    padding-left: 10px;

}

.container {
    padding: 15px;
}

.wrapper {
    height: 125vh;
    width: 100vw;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

h5 {
    font-size: 100%;
}


/* ############################################################ */
/* homepage */

/* #homepage-text {
    position: relative;
    top: 50%;
    left: 50%;
    height: 25vh;
    width: 50vw;
    transform: translate(-50%, -750%);
    text-align: center;

  } */

#site-title {
    text-align: left;
    padding: 20px;
    color: #81A0B4; 
    font-family: 'Josefin Sans', sans-serif;
}

#homepage-options {
    text-align: left;
}

#choice {
    padding-bottom: 15px;
}


.col-homepage {
    background-color: #E2DAD3;
    border-radius: 15px;
    padding: 15px; 
    opacity: 0.9;

  }


/* ############################################################ */
/* navbar */
#nav-div {
    width: 100vw;
    height: auto;
    /* background-color: #6B9080; */
    color: #E2DAD3;

}

#nav-options {
    padding: 20px;
    margin-bottom: 0;
    display: flex;
    
}

/* note to future self: this is the part that makes the links not blue */
a {
    color: inherit;
}

a:hover {
    color: inherit;
    font-weight: bolder;
    font-size-adjust: 10px;

}


/* ############################################################ */
/* footer */
#footer-links {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-top: 10px; 
}

#footer {
    margin-bottom: none;
    margin-top: none;
    padding-top: none;
    background-color: #A4B9AF;
    color: #E2DAD3;
}    