{% extends 'base.html' %}

{% block head %}
  
{% endblock %}

{% block content %}


<div class="computer">
<div class="screen">
    <div class="laptop">
        <div class= "box" id="bio">
            <h2 id="title">hello!</h2>
                <p>my name is kate & i like building useful and not-so-useful things.</p>
                <p>welcome to my corner of the internet & thanks for visiting!</p>
        </div> 

    </div>
</div>
</div>
    <script type="text/jsx" src="/static/homepage.jsx"></script>
{% endblock %}